#mainPane {
    -fx-background-color: #ffffff;
}


#paneIcon {
    -fx-background-color: #1c4526;
}

.label {   -fx-font-smoothing-type: gray;
            -fx-font-family: "Inter", Arial, sans-serif;

    -fx-font-size: 15;
    -fx-text-fill: #23262f;
}

#title {
 -fx-font-smoothing-type: gray;
    -fx-font-family: "Inter", Arial, sans-serif;
    -fx-text-fill: white;
    -fx-font-size: 15;
}

.text-field {
    -fx-font-family: "Inter", Arial, sans-serif;
    -fx-font-size: 15;
    -fx-padding: 6;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: white;
    -fx-border-color: #ccc;
    -fx-effect: null;
}

/*
.text-field:hover {
    -fx-effect: dropshadow(gaussian, #38a169, 10, 0.2, 0, 0);
}

*/
.text-field:focused {
    -fx-effect: dropshadow(gaussian, #38a169, 12, 0.3, 0, 0);
    -fx-border-color: #38a169;
}



.image-view {
    -fx-smooth: true;
}

.button {
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color: #1c4526;
    -fx-font-size: 15;
    -fx-font-family: "Inter", Arial, sans-serif;
    -fx-text-fill: white;


    -fx-transition: all 0.3s ease;


    -fx-effect: dropshadow(gaussian, #3aa456, 0, 0, 0, 0);
    -fx-cursor: hand;
}


.button:hover {
    -fx-effect: dropshadow(gaussian, #3aa456, 10, 0.5, 0, 0);
    -fx-background-color: #246732;
}


.button:pressed {
    -fx-effect: dropshadow(gaussian, #2e8b38, 15, 0.7, 0, 0);
    -fx-background-color: #1a3b19;
}

#loginWrg {
    -fx-font-size: 12;
    -fx-text-fill: red;
}

#label_log_in{
 -fx-font-smoothing-type: gray;
    -fx-font-family: "Inter", Arial, sans-serif;
    -fx-text-fill: black;
    -fx-font-size: 20;
  //-fx-font-weight: bold;


}